[credential]
	helper = store
[user]
	name = NAME
	email = EMAIL
[core]
  pager = delta
  excludesfile = ~/.gitignore_global
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = Monokai Extended
	side-by-side = true
	navigate = true
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
